@import "../_commont/reset.scss";
//整体样式
*{margin: 0;padding: 0;}
body {font-size: 14px;color: #333;}
a,button{outline: none}
a{text-decoration: none}
li, ol, ul { list-style: none; }
.fr{ float: right;}
.fl { float: left; }

//局部样式
/* 顶部导航 */
.m-site-top, .m-site-top a { color: #e7e7e7; }
.m-site-top { height: 48px; background: #333; font-size: 14px; position: relative; z-index: 105; min-width: 1080px; }
.container { width: 1080px; margin: 0 auto; }

.m-site-top .m-line { border-color: #666; margin: 17px 3px 0 6px; }
.m-line { display: inline-block; height: 16px; vertical-align: middle; border-right: 1px solid #e7e7e7; }
.m-site-top .site-item { position: relative; margin-left: 5px; text-align: center;}
.m-site-top .m-help { position: relative; text-align: center; height: 48px; line-height: 48px; margin-right: 8px; margin-left: 11px; }
.m-site-top .m-no-login { margin-right: 8px; }
.m-site-top .m-no-login, .m-site-top .m-user { height: 48px; line-height: 48px; }
.m-site-top .m-no-login a { margin-left: 8px; }
//fonticon sprite图 & fonticon的各种配置
// sprite 图
.m-icons {background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons@2x.5f639807.png); background-size: 85px 2569px;}
.m-site-top .h-down-icon { top: 10px; right: 0;}
.h-icons { position: absolute;}
.m-site-top .m-download .h-icon-con { text-align: left; left: 0; padding-left: 30px;}
.m-site-top .h-icon-con { display: block; height: 48px; line-height: 48px; overflow: hidden;}
.m-icons-dropdown { width: 30px; height: 30px; background-position: 0 -1662px; }
.m-site-top .h-app-icon { left: 0px; top: 9px;}
.m-icons-app { width: 30px; height: 30px; background-position: 0 -1016px; }
.m-site-top .m-clauses-con { position: relative; text-align: center; padding-right: 40px;padding-left: 11px;}
.m-site-top .m-clauses-con .m-clauses {height: 48px;line-height: 48px;text-align: center;}
.m-site-top .m-clauses-con .h-down-icon { right: 10px;}

// logo & 搜索 
.m-header {margin: auto; position: relative; height: 51px; width: 1080px; z-index: 101; padding-top: 20px; margin-bottom: 5px; background-color: #fff; }
.m-header-top {position: relative; padding-right: 40px; z-index: 9;}
//logo部分
.m-header .m-logo {float: left;width: 123px;height: 51px;background: url(https://shop.io.mi-img.com/static/h5/static3/media/logo.d1484e61.png) 50% no-repeat;background-size: 100%;}
.m-logo {width: 100px;height: 50px;line-height: 50px;text-align: center;font-size: 12px;}
.m-tag-a {cursor: pointer;}
.m-header .nav-part { float: left; margin-left: 10px; margin-right: 70px; width: 60px; height: 51px; line-height: 51px; }
//tag部分
.m-header .tab-list { float: left; width: 420px; overflow: hidden;}
.m-header .tab-list li.tab-item { float: left; margin-right: 32px; height: 51px; line-height: 57px; font-size: 18px; color: #666; -webkit-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
//搜索部分

//banner图部分
.banner-nav {width: 1080px;margin: 0 auto;height: 358px;}
.nav-container { position: relative; height: 338px; background-color: #845f3f; padding: 10px 0; width: 221px; float: left;z-index: 2;}
.nav-container .nav-list{overflow: hidden}
.nav-container .nav-list .nav-item { width: 165px; padding: 0 30px; height: 37px; line-height: 37px; color: #fff; font-size: 14px; -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; text-align: left; overflow: hidden;}
.nav-container .nav-list .nav-item a{color: #fff}
.nav-container .nav-list .nav-item a:hover{color: rgb(202, 162, 127)}
.nav-container .nav-list .nav-item:hover{background: #684b35; color: #f1ede9}
.banner-nav .banner-box { width: 859px;float: left;}
.m-banner  img { width: 859px;height: 358px;}